
@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
  font-family: 'PingAR+LT-Regular';
  src: url('/src/assets/fonts/Ping/PingAR+LT-Regular.otf') format('opentype');
}

body {
  font-family: 'PingAR+LT-Regular', sans-serif;
}
